.button-delete{
    background-size: cover;
    background-position: center;
    width: 64px;
    height: 40px;
    background-color: red;
    border: 0px;
    text-align: center;
}

table {

    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1px;
    margin-left: 170px;
}

th, td {
    text-align: left;
    padding: 1px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(0, 110, 255);
    color: white;
}
.agregar{
    display: block;
    transform: translateY(-500%);
}
.one-color{
    background-color: #006EFF !important;
    color: white;
}

@media screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
        position: fixed;
        top: 100px; /* Cambia esta coordenada para ajustar la posición vertical */
        left: 50%; /* Centra el contenedor horizontalmente */
    }
    td,th{
        min-width: 300px;
    }
}